<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>See Contacts here</title>

<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
<link href="../static/css/style2.css" th:href="@{/css/style2.css}" rel="stylesheet">

</head>
<body>


<nav>
	<span>SMART CONTACT MANAGER</span>
    <!--  <a th:href="@{/login}">LOGIN</a>
    <a th:href="@{/signup}">SIGNUP</a>
    <a href="#home">HOME</a>
    <a href="#about">ABOUT</a>-->
    <a href="/logout" >LOGOUT</a>
    
     <span th:text="${userdetails.name}" class="user-name">John Doe</span> 
</nav>


<div class="container-wrapper">

  <div class="sidebar">
    <span class="close-btn" onclick="toggleSidebar()">×</span>
    <a href="#" th:href="@{/admin/dashboard}" class="item"><i class="fa-solid fa-house"></i>	HOME </a>
    <a href="#" th:href="@{/admin/view-contacts}" class="item"> <i class="fa-solid fa-address-book"></i>	VIEW CONTACTS </a>
    <a href="#" th:href="@{/admin/add-contacts}" class="item"><i class="fa-solid fa-user-plus"></i>	ADD CONTACTS </a>
    <a href="#" class="item"><i class="fa-solid fa-user"></i>	YOUR PROFILE </a>
    <a href="#" class="item"><i class="fa-solid fa-gear"></i>	SETTINGS </a>
    </div>
    
    
     <div class="content">
	 
	 <i onclick="toggleSidebar()" class="fa-solid fa-bars pointer-cursor"></i>
	 <!-- <h2>Welcome to the User Dashboard!</h2>
	   <button onclick="toggleSidebar()">Toggle Sidebar</button> -->
 
	</div>
	
	
		<div class="container1">
			
			<div th:if="${contacts.isEmpty()}">
			<p>Nothing to show, Try adding contacts</p>
			
			</div>
			
			 <div th:each="contact : ${contacts}" class="card">
            <!-- You can customize the card content based on your Contact entity -->
            <div class="card-content">
            <p th:text="${#lists.size(contacts)}"></p>
            <h3 th:text="${contact.name}"></h3>
            <img th:src="@{/images/{imageName}(imageName=${contact.image})}" alt="Contact Image"/>
            <div class="contact-info">
            
            <label for="image">CONTACT ID : </label><i th:text="${'CSMID' + contact.cid}"></i><br>
            <label for="image">EMAIL : </label><i th:text="${contact.email}"></i><br>
            
            <label for="image">PHONE : </label><i th:text="${contact.phone}"></i><br>
            <label for="image">WORK : </label><i th:text="${contact.work}"></i><br>
            <label for="image">DESCRIPTION : </label><i th:text="${contact.description}"></i><br>
           <button><i class="fa-solid fa-pen"></i>	UPDATE</button>
           <button><i class="fa-solid fa-delete-left"></i>	DELETE</button>
            </div>
            
            </div>
            
        </div>
				
		
		</div>
		</div>
	
<script src="/admin/js/script.js"></script>
</body>
</html>