<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>See Contacts here</title>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
<link href="../static/css/style2.css" th:href="@{/css/style2.css}" rel="stylesheet">

 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--  <style>
.pagination {
  display: flex;
  justify-content:center;
  margin-top:40px;
}

.pagination a {
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>
-->
</head>
<body>


<nav>
	<span>SMART CONTACT MANAGER</span>
    <!--  <a th:href="@{/login}">LOGIN</a>
    <a th:href="@{/signup}">SIGNUP</a>
    <a href="#home">HOME</a>
    <a href="#about">ABOUT</a>-->
    <a href="/logout" >LOGOUT</a>
    
     <span th:text="${userdetails.name}" class="user-name">John Doe</span> 
</nav>

	
		<!-- Add this code to display the flash message -->
<div th:if="${message}">
    <span th:text="${message}"></span>
</div>


<div class="container-wrapper">

  <div class="sidebar">
    <span class="close-btn" onclick="toggleSidebar()">×</span>
    <a href="#" th:href="@{/user/dashboard}" class="item"><i class="fa-solid fa-house"></i> HOME </a>
    <a href="#" th:href="@{/user/view-contacts/0}" class="item" th:class="${request ? 'active' : ''}"> <i class="fa-solid fa-address-book"></i> VIEW CONTACTS </a>
    <a href="#" th:href="@{/user/add-contacts}" class="item"><i class="fa-solid fa-user-plus"></i> ADD CONTACTS </a>
    <a href="#" th:href="@{/user/profile}" class="item"><i class="fa-solid fa-user"></i> YOUR PROFILE </a>
    <a href="#" class="item"><i class="fa-solid fa-gear"></i> SETTINGS </a>
    </div>
    
    
     <div class="content">
	 
	 <i onclick="toggleSidebar()" class="fa-solid fa-bars pointer-cursor"></i>
	 <!-- <h2>Welcome to the User Dashboard!</h2>
	   <button onclick="toggleSidebar()">Toggle Sidebar</button> -->
 
	</div>


		<div class="searchBar">
			
                <input type="text" th:onkeyup="search()" id="search-input" name="search" placeholder="Search contacts...">
                <div class="searchResult">
                
                <p>njasdnc</p>
                	
                </div>

	</div>
	
	<div class="container1">
			
			
			<div th:if="${contacts.isEmpty()}">
			<p>nothing to show,Try adding Contacts</p>
			<!--  <p th:text="${#lists.size(contacts)}"></p>-->
			
			</div>
			
			 <div th:each="contact : ${contacts}" class="card">
            <!-- You can customize the card content based on your Contact entity -->
            <div class="card-content">
            
             <img th:src="@{'/img/' + ${contact.image}}" alt="profile photo"/>
            <h3 th:text="${contact.name}"></h3>
            
            <div class="contact-info">
            <label for="image">CONTACT ID : </label><i th:text="${'CSMID' + contact.cid}"></i><br>
            <label for="image">EMAIL : </label><a style="color:black" th:href="@{'/user/details/' + ${contact.cid}}"><i th:text="${contact.email}"></i></a><br>
            
            <label for="image">PHONE : </label><i th:text="${contact.phone}"></i><br>
            <label for="image">WORK : </label><i th:text="${contact.work}"></i><br>
            <!--  <label for="image">DESCRIPTION : </label><i th:text="${contact.description}"></i><br>-->
            
            <div th:if="${#strings.length(contact.description) > 50}">
        		<label for="image">DESCRIPTION : </label><i th:text="${#strings.substring(contact.description, 0, 120)}"></i>
        		<a th:href="@{/user/details/{id}(id=${contact.cid})}">Read More</a>
    		</div>
    		
    		   
        <div th:if="${#strings.length(contact.description) < 50}">
    			<label for="image">DESCRIPTION : </label>
    			<i th:text="${contact.description}"></i>
    			 
			</div>
			 
           
         	<a th:unless="${addContact}" class="deleteContact" th:href="@{'/user/update-contact/' + ${contact.cid}}">
    <button style="cursor: pointer">
        <i class="fa-solid fa-pen"></i> UPDATE
    </button>
</a>

  <a class="deleteContact" th:onclick="'deleteContact(' + ${contact.cid} + ');'"><button style="cursor: pointer"> <i class="fa-solid fa-delete-left"></i>	DELETE</button></a>
            </div>
            
            </div>
            
  <!-- Pagination Links 
<div class="pagination">    th:href="@{'/user/delete/' + ${contact.cid}}"
    <ul>
        <li th:if="${currentPage > 0}">
            <a th:href="@{/user/view-contacts(page=${currentPage - 1})}">« Previous</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage} ? 'active'">
            <a th:href="@{'/user/view-contacts?page=' + pageNumber}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/user/view-contacts(page=${currentPage + 1})}">Next »</a>
        </li>
    </ul>
</div>-->



		<!-- Pagination Links 
<div class="pagination">
    <ul>
        <li th:if="${currentPage > 0}">
            <a th:href="@{/user/view-contacts(page=${currentPage - 1})}">« Previous</a>
        </li>
        <li th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}" th:class="${pageNumber == currentPage} ? 'active'">
            <a th:href="@{'/user/view-contacts?page=' + pageNumber}" th:text="${pageNumber + 1}"></a>
        </li>
        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/user/view-contacts(page=${currentPage + 1})}">Next »</a>
        </li>
    </ul>
</div>
		-->
		
		</div>
	</div>
	</div>
	

	<div class="pagination" >
	
		<div th:if="${totalPages > 0}">
				<span th:if="${currentPage != 0}"> <a th:href="@{'/user/view-contacts/'+${currentPage-1}}">&laquo;</a> </span>
  			<span th:classappend="${currentPage==i-1 ? 'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}"><a th:href="@{'/user/view-contacts/'+${i-1}}"><span th:text="${i}"></span></a></span>
 			
  			<span th:if="${currentPage+1 != totalPages}"><a th:href="@{'/user/view-contacts/'+${currentPage+1}}">&raquo;</a></span>
		
		</div>
  			
  			
  
	</div>

	
	
	
<script src="/user/js/script.js"></script>
</body>
</html>