@charset "UTF-8";

body {
	/*background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)) , url("/images/tele.png");*/
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #FFCC99;
	background-size: cover;
}

nav {
	background-color: #EC8565;
	overflow: hidden;
	height: 42px;
}

nav span {
	float: left;
	padding: 14px 16px;
	color: black;
	font-size: 18px; /* Adjust the font size as needed */
	font-weight: bold;
}

nav .user-name {
	float: right;
	padding: 14px 16px;
	color: black;
	font-size: 18px; /* Adjust the font size as needed */
	font-weight: bold;
}

nav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

h2 {
	/*text-align: center;*/
	color: #000000;
	font-weight: bold;
	/*margin: 0px 0px 200px 225px;*/
	margin-top: 200px;
	margin-left: 450px;
}

p {
	color: #000000;
	font-weight: bold;
	/*margin: 0px 0px 200px 225px;*/
	/*margin-top: 250px;*/
	margin-left: 300px;
	align-items: center;
}

input[type="button"] {
	background-color: #000000;
	/*background-color: rgba(0, 0, 0, 1);*/
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border-radius: 40px;
	margin-left: 550px;
}

nav a:hover {
	background-color: #EF2632;
	color: black;
	padding: 8px 10px;
	border-radius: 20px;
}


/* CSS for Sidebar */

.sidebar {
    height: 100%;
    width:200px;
    position: fixed;
    top: 10;
    left: 0;
    background-color:   #EC8565;
    overflow-x: hidden;
    transition: 0.3s;
   /* padding-top: 60px;*/
    padding-top: 50px;
}

.sidebar a {
    padding: 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: block;
    transition: 0.3s;
    font-weight:bold;
}

.sidebar a:hover {
    background-color: #EF2632;
    padding: 8px 10px;
    border-radius: 20px;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: black;
    /*background-color: #EC8565; */
    cursor: pointer;
}

.content {
    margin-left: 200px; /* Adjust to the width of the sidebar */
    padding: 16px;
}

.pointer-cursor {
	 cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 16px;
    }
    .content {
        margin-left: 0;
    }
}
