@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #FFCC99;
}

.signupContainer {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f5f5f5;
    text-align: center;
}


.signupContainer form {
    display: flex;
    flex-direction: column;
}

.signupContainer label {
    margin-top: 10px;
    font-weight: bold;
}


.signupContainer input,
.signupContainer textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-style:italic;
}

/*.signupContainer .input-container {
    display: flex;
   align-items: center;
    margin: 5px 17px;
}
*/
.signupContainer input[type="checkbox"] {
   
      margin-right: 50px;
      cursor: pointer;
}

.signupContainer textarea {
    resize: vertical;
}

.signupContainer input[type="submit"],
.signupContainer input[type="reset"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top:10px;
    font-weight: bold;
    
}

.signupContainer input[type="submit"]:hover,
.signupContainer input[type="reset"]:hover {
	font-weight: bold;
    background-color: #45a049;
}

.signupContainer .message {
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
}

.signupContainer .message span {
    color: 	#5A5A5A;
    font-weight: bold;
}

nav {
	position:fixed;
	background-color: #EC8565;
	width:100%;
	top:0;
	overflow: hidden;
	height: 42px;
	font-weight: bold;
	z-index: 4;
}

nav span {
	float: left;
	padding: 14px 16px;
	color: black;
	z-index: 4;
	font-size: 18px;
}

h2 {
	text-align: center;
	margin-top:60px;
	transition: transform 0.3s ease-in-out;
	z-index: 1;
	position: relative;
}

nav a {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	z-index: 4;
}

nav a:hover {
	background-color: #EF2632;
	color: black;
	padding: 8px 10px;
	border-radius: 15px;
	z-index: 4;
}

.imageUser {
	height:250px;
	width:auto;
}

.loginContainer {
    max-width: 600px;
    margin: 80px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f5f5f5;
    text-align: center;
}

.loginContainer form {
	
    display: flex;
    flex-direction: column;
}
.loginContainer label {
    margin-top: 10px;
    font-weight: bold;
}

.loginContainer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-style:italic;
}

.loginContainer input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top:10px;
    font-weight: bold;
    
}

.loginContainer input[type="submit"]:hover {
	font-weight: bold;
    background-color: #45a049;
}

.loginContainer .message {
    margin: 15px 0;
    padding: 10px;
    border-radius: 4px;
}

.loginContainer .message span {
    color: 	#5A5A5A;
    font-weight: bold;
}
