<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav>
	<span>SMART CONTACT MANAGER</span>
    <a href="#login">LOGIN</a>
    <a th:href="@{/signup}">SIGNUP</a>
    <a href="#home">HOME</a>
    <a href="#about">ABOUT</a>
</nav>

<h2>SMART CONTACT MANAGER</h2>
<p>
We dont want tot push our ideas on to customers , we simply want to make what they want 
</p>
<input type="button" value="Get Started">
</body>
</html>