<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> fORGOT PASSWORD</title>

  <link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>

<nav>
		<span>SMART CONTACT MANAGER</span> <a th:href="@{login}">LOGIN</a> <a
			th:href="@{/signup}">SIGNUP</a> <a th:href="@{/base}">HOME</a> <a
			href="#about">ABOUT</a>
</nav>


<div class="forgotContainer">

		 <form th:action="@{/process-forgotPassword}" method="post">
        
        <h2>Forgot Password </h2>
        <input type="email" id="email" name="email" placeholder="enter your email" required><br>
        
       
        
   <input type="submit" value="SEND OTP">
        
    </form>

</div>


</body>
</html>