<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <!-- Add your CSS stylesheets or links here -->
    <link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>

<nav>
		<span>SMART CONTACT MANAGER</span> <a th:href="@{login}">LOGIN</a> <a
			th:href="@{/signup}">SIGNUP</a> <a th:href="@{/base}">HOME</a> <a
			href="#about">ABOUT</a>
</nav>


<div class="loginContainer">

  <div th:if="${error != null}">
    <div class="message">
        <span th:text="${error}"></span>
    </div>
</div>
	

	
	
    <div th:if="${param.logout}">
			<div class="message">
			<span>Logout successfull</span>
			</div>
			</div>

    <h2>LOGIN</h2>
    
    <!-- Display error message if login fails 
    <div th:if="${error}" class="error-message">
        Invalid email or password.
    </div> 
    
    
		<p th:if="${error}" class="error-message" th:text="${error}">
			
		</p>
		
	
    		 <div th:if="${error != null}">
        <div class="error-message">
            <p th:utext="${error}"></p>
        </div>
    </div>-->
    
    
  
			
    <form th:action="@{/login}" method="post">
        <label for="username">EMAIL</label>
        <input type="email" id="username" name="username" placeholder="enter your email" required>
        
        <label for="password">PASSWORD</label>
        <input type="password" id="password" name="password" placeholder="enter your password" required>
        
        <input type="submit" value="LOGIN">
        <span> If not registered<a th:href="@{/signup}"> CREATE AN ACCOUNT</a> </span><br>
        <a th:href="@{/forgotPassword}"> Forgot Password</a>
    </form>
</div>

</body>
</html>
