
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Change Old Password</title>

<link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>

	
	<div class="forgotContainer">
	
	
	<div th:if="${error != null}">
			<div class="message">
			<span>[[${error}]]</span>
			</div>
			</div>

		 <form th:action="@{/change-password}" method="post">
        
        
        
        <h2> ENTER NEW PASSWORD </h2>
        <input type="password" id="newPassword" name="newPassword" placeholder="enter new Password" required><br>
        
        <h2> CONFIRM NEW PASSWORD </h2>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="re-enter new Password" required><br>
        
   <input type="submit" value="CHANNGE PASSWORD">
        
    </form>

</div>

</body>
</html>
