<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Change Old Password</title>

<link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>

	
	<div class="forgotContainer">

		 <form th:action="@{/change-password}" method="post">
        
        <h2> ENTER NEW PASSWORD </h2>
        <input type="text" id="otp" name="newPassword" placeholder="enter new Password" required><br>
        
        <h2> RE-ENTER NEW PASSWORD </h2>
        <input type="text" id="otp" name="otp" placeholder="re-enter new Password" required><br>
        
   <input type="submit" value="CHANNGE PASSWORD">
        
    </form>

</div>

</body>
</html>