<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Registration Page</title>
<link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>
	<nav>
		<span>SMART CONTACT MANAGER</span> <a th:href="@{login}" th:if="${updateUser}">LOGIN</a> <a
			th:href="@{/signup}" th:if="${updateUser}">SIGNUP</a> <a th:href="@{/base}" th:if="${updateUser}">HOME</a> <a
			href="#about" th:if="${updateUser}">ABOUT</a>
			<a href="/logout" th:if="${!updateUser}">LOGOUT</a>
	</nav>


	<div class="signupContainer">

 	
    
		<h2>FILL ALL DETAILS CORRECTLY...</h2>
		
		<div class="message" th:if="${successMessage != null}">
 			<span th:text = "${successMessage}"></span>
    	</div>
    
    	<div class="message" th:if="${errorMessage != null}">
 			<span th:text = "${errorMessage}"></span>
    	</div>

		<form th:action="${updateUser ? '/signup' : (isAdmin ? '/admin/process-update-user/' + user.id : '/user/process-update-user/' + user.id)}" 
      method="post" th:object="${user}" enctype="multipart/form-data">
			<label for="name">NAME </label> 
			<input th:value="${user.name}"type="text" id="name"
				name="name" placeholder="enter your name" /><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				
				<label for="email">EMAIL </label> 
				<input th:field="*{email}" type="email" id="email" name="email" placeholder="enter your email" required />
				<span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				 
				<label th:if="${updateUser}" for="password">PASSWORD </label>
				<input th:if="${updateUser}" th:field="*{password}" type="password" id="password" name="password" placeholder="enter your password"
				th:required="${updateUser}" />
				<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span> 
				
				<label for="about">ABOUT </label>
				<textarea th:field="*{about}" id="about" name="about" placeholder="enter about yourself"
				rows="10"></textarea>
				<span  th:if="${#fields.hasErrors('about')}" th:errors="*{about}"></span> 

				<img th:if="${!updateUser}"src="" th:src="@{'/registeredImage/' + ${user.imgUrl}}" class="imageUser" alt="">			
					
				 <label for="image">IMAGE</label>
            	<input type="file" id="image" name="imageUrl" ><br>
					
					
				<div th:if="${updateUser}" class="input-container">
            <input th:field="*{enabled}" type="checkbox" id="acceptTerms" name="enabled" required>
             <label for="acceptTerms">I accept the terms and conditions</label>
             <span  th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></span>
        	</div>
        		
				<input type="submit" th:value="${updateUser ? 'REGISTER' : 'UPDATE USER'}"> 
				<input type="reset" value="Reset">
				
				<span th:if="${updateUser}">Already a user <a th:href="@{/login}"> SignIn here</a></span>
				
		</form>
	</div>

</body>
</html>
