<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Thymeleaf Registration Page</title>
<link rel="stylesheet" th:href="@{/css/style1.css}">
</head>
<body>
	<nav>
		<span>SMART CONTACT MANAGER</span> <a th:href="@{login}">LOGIN</a> <a
			th:href="@{/signup}">SIGNUP</a> <a th:href="@{/base}">HOME</a> <a
			href="#about">ABOUT</a>
	</nav>


	<div class="container">

 	
    
		<h2>FILL ALL DETAILS CORRECTLY...</h2>
		
		<div class="message" th:if="${successMessage != null}">
 			<span th:text = "${successMessage}"></span>
    	</div>
    
    	<div class="message" th:if="${errorMessage != null}">
 			<span th:text = "${errorMessage}"></span>
    	</div>

		<form th:action="@{/signup}" method="post" th:object="${user}">
			<label for="name">NAME </label> 
			<input th:field="${user.name}"  type="text" id="name"
				name="name" placeholder="enter your name" /><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				
				<label for="email">EMAIL </label> 
				<input th:field="${user.email}" type="email" id="email" name="email" placeholder="enter your email" required />
				<span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				 
				<label for="password">PASSWORD </label>
				<input th:field="${user.password}" type="password" id="password" name="password" placeholder="enter your password"
				required />
				<span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span> 
				
				<label for="about">ABOUT </label>
				<textarea th:field="${user.about}" id="about" name="about" placeholder="enter about yourself"
				rows="4"></textarea>
				<span  th:if="${#fields.hasErrors('about')}" th:errors="*{about}"></span> 

			<div class="input-container">
            <input th:field="${user.enabled}" type="checkbox" id="acceptTerms" name="enabled" required>
             <label for="acceptTerms">I accept the terms and conditions</label>
             <span  th:if="${#fields.hasErrors('enabled')}" th:errors="*{enabled}"></span>
        	</div>

				<input type="submit" value="Register"> 
				<input type="reset" value="Reset">
		</form>
	</div>

</body>
</html>
